{% extends "layout.html" %}

{% block body %}
<div style="left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align:center;
    color: white;">
    <p class="lead" style="font-size: 28px;">A new easy, efficient and aesthetic way of finding scholarship tailored
        specifically for you.</p>
    <a href="{{ url_for('form') }}"><button type="button" class="btn btn-primary btn-lg" >Continue</button></a>
</div>
{% endblock %}